<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/all.min.css">
    <!-- <script src="https://kit.fontawesome.com/7a21292e8c.js" crossorigin="anonymous"></script> -->
    <title>Shabab EL Mosta9bil</title>
</head>

<body>

    <div class="landing-page">
        <div class="navbar">
            <div class="container">
                <img src="https://placehold.co/200x70" alt="">

                <div class="options">
                    <ul>
                        <li><a href="">Activities</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Admissions</a></li>
                    </ul>
                    <a>LogIn <i class="fa-regular fa-user"></i></a>
                </div>
            </div>
        </div>
        <div class="home">
            <img class="main-img" src="./images/children-drawing-together-classroom.jpg" alt="">
            <img class="bottom-shape" src="./shapes/15.png" alt="">
            <div class="top-right">
                <img class="semi-circle" src="./shapes/12.png" alt="">
                <img class="circle" src="./shapes/11.png" alt="">
                <img class="arc" src="./shapes/10.png" alt="">
            </div>
            <div class="top-left">
                <img class="x" src="./shapes/6.png" alt="">
                <img class="arc-botom" src="./shapes/shape.png" alt="">
            </div>
            <div class="chebak">
                <img src="./shapes/Shape5.png" alt="">
            </div>
            <div class="curved">
                <img src="./shapes/7.png" alt="">
                <img src="./shapes/8.png" alt="">
                <img src="./shapes/9.png" alt="">
            </div>
            <div class="main-text">
                <h1> <img src="./shapes/reveil.png" alt="">Better Future for your Kids</h1>
              
                <p><span>ChababElMostakbil</span> is the perfect place for your child to embark on their educational journey. We are committed to providing a nurturing and stimulating environment where children can learn, grow, and thrive.</p>
                <div class="buttons">
                    <a href="">Contact us</a> <a>Learn More</a>
                </div>
                <ul class="social">
                    <li><a href=""><i class="fa-brands fa-instagram"></a></i></li>
                    <li><a href=""><i class="fa-brands fa-facebook"></a></i></li>
                    <li><a href=""><i class="fa-brands fa-tiktok"></a></i></li>
                </ul>
            </div>
        </div>

    </div>


</body>

</html>