<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/all.min.css">
    <title>Log in</title>
</head>

<body>
    <div class="login">
        <div class="form-contain">
            <form action="../controllers/auth/login.php" method="post">
                <h1>LogIn</h1>
                <p>Please fill your information bellow</p>
                <label for="user-name">Username:</label>
                <input type="text" id="user-name" name="userName" placeholder="Ex: azerty@cem.dz">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Your password">

                <div class="check">
                    <input type="checkbox" id="pass-show" name="pqss6shoz" value="No"><label class="pass-show-label"
                        for="pass-show">Show Password</label><br>

                </div>
                <input type="submit" id="" name="" value="Confirm">
                <p>You want to join us? <a href="">ContactUs</a></p>
            </form>
            <div class="girl-drawing">
                <img class="table" src="./images/login/table.png" alt="">
                <img class="girl" src="./images/login/girl.png" alt="">
            </div>
            <div class="boy">
                <img src="./images/login/boy.png" alt="">
            </div>
            <img src="./images/login/left.png" alt="" class="fly left">
            <img src="./images/login/right.png" alt="" class="fly right">
            <img src="./shapes/6.png" alt="" class="x">
            <div class="curved">
                <img src="./shapes/7.png" alt="">
                <img src="./shapes/8.png" alt="">
                <img src="./shapes/9.png" alt="">
            </div>
        </div>

        <div class="shapedividers"></div>
        <div class="second-part">
            <div class="circles">
                <img src="./shapes/13.png" alt="">
                <img src="./shapes/3.png" alt="">
                <img src="./shapes/11.png" alt="">
            </div>
            <h1><img src="./shapes/kalam.png" alt="">Welcome Back To <span>ChababElMostakbil<span> </h1>
            <img src="./images/login/kids-img.png" alt="">
            <div class="login-bottom-right">
                <img class="arc" src="./shapes/14.png" alt="">
                <img class="x" src="./shapes/6.png" alt="">
            </div>
            <img src="./shapes/mikala.png" alt="" class="minkala">
        </div>
        
        
    </div>

</body>

</html>