<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/all.min.css">
    <title>Members</title>
</head>

<body>
    <div class="wrapper d-flex">
        <div class="sidebar">

            <div class="profile">
                <a href="#"><i class="far fa-user-circle"></i></a>
                <p class="username">Admin<br><a href="#" class="view">View Info</a></p>
                <a href="#"><i class="fas fa-cog"></i></a>
            </div>

            <div class="menu-contain">
                <p class="header">Menu</p>
                <ul>
                    <li class="active"><a href="#"><i class="fas fa-users"></i>Members</a></li>
                    <li><a href="#"><i class="fas fa-calendar-week"></i>Classes</a></li>
                    <li><a href="#"><i class="far fa-envelope"></i>Messages</a></li>
                    </li>
                    <li><a href="#"><i class="fas fa-signal"></i>Reports</a></li>
                </ul>
            </div>
            <div class="menu-contain">
                <p class="myproject px-3">General</p>
                <ul>
                    <li><a href="#"><i class="fas fa-cog"></i>Settings</a></li>
                    <li><a href="#"><i class="fa-solid fa-comments"></i>FeedBack</a></li>
                    <li><a href="#"><i class="fa-solid fa-circle-question"></i>Helpdesk</a></li>
                </ul>
            </div>
            <h1>ShababElMostakbil</h1>
        </div>
        <div class="content">
            <div class="title">
                <h1>Members</h1>

                <i class="fas fa-cog"></i>

            </div>
            <div class="stats">
                <div class="box">
                    <i class="fa-solid fa-children"></i>
                    <H2>40</H2>
                    <p>Childrens</p>
                </div>
                <div class="box">
                    <i class="fa-solid fa-person-chalkboard"></i>
                    <H2>5</H2>
                    <p>Sitters</p>
                </div>
                <div class="box">
                    <i class="fa-solid fa-user-secret"></i>
                    <H2>3</H2>
                    <p>Admins</p>
                </div>
            </div>
            <div class="persons-list">
                <div class="details">
                    <p>Total (<span> 10 </span>)</p>

                    <div class="search">
                        <form action="">
                            <input type="text" placeholder="Search ...">
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>

                        </form>
                    </div>
                    <Button>+</Button>
                </div>
                <div class="table">
                    <table>
                        <tr>
                            <th class="id">id</th>
                            <th class="image">image</th>
                            <th class="name">Name</th>
                            <th class="role">role</th>
                            <th class="class">Class</th>
                            <th class="info">info</th>
                            <th class="remove">Remove</th>
                        </tr>
                        <tr class="card">
                            <td class="id">1</td>
                            <td class="image"><img src="./images/avatar.png" alt=""></td>
                            <td class="name">Anis Boukhannoufa</td>
                            <td class="role">Admin</td>
                            <td class="class">A</td>
                            <td class="info"><i class="fa-solid fa-circle-info"></i></td>
                            <td class="remove"><i class="fa-solid fa-trash"></i></td>
                        </tr>
                        <tr class="card">
                            <td class="id">1</td>
                            <td class="image"><img src="./images/avatar.png" alt=""></td>
                            <td class="name">Anis Boukhannoufa</td>
                            <td class="role">Admin</td>
                            <td class="class">A</td>
                            <td class="info"><i class="fa-solid fa-circle-info"></i></td>
                            <td class="remove"><i class="fa-solid fa-trash"></i></td>
                        </tr>
                        <tr class="card">
                            <td class="id">1</td>
                            <td class="image"><img src="./images/avatar.png" alt=""></td>
                            <td class="name">Iddou Toufik </td>
                            <td class="role">Sitter</td>
                            <td class="class">A</td>
                            <td class="info"><i class="fa-solid fa-circle-info"></i></td>
                            <td class="remove"><i class="fa-solid fa-trash"></i></td>
                        </tr>
                        <tr class="card">
                            <td class="id">1</td>
                            <td class="image"><img src="./images/avatar.png" alt=""></td>
                            <td class="name">john doe</td>
                            <td class="role">Kid</td>
                            <td class="class">B</td>
                            <td class="info"><i class="fa-solid fa-circle-info"></i></td>
                            <td class="remove"><i class="fa-solid fa-trash"></i></td>
                        </tr>
                        <tr class="card">
                            <td class="id">1</td>
                            <td class="image"><img src="./images/avatar.png" alt=""></td>
                            <td class="name">Anis Boukhannoufa</td>
                            <td class="role">Kid</td>
                            <td class="class">C</td>
                            <td class="info"><i class="fa-solid fa-circle-info"></i></td>
                            <td class="remove"><i class="fa-solid fa-trash"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

</html>