
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/normalize.css">
        <link rel="stylesheet" href="./css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="css/all.min.css">
        <title>Sessions</title>
    </head>

    <body>
        <div class="wrapper d-flex">
            <div class="sidebar">

                <div class="profile">
                    <a href="#"><i class="far fa-user-circle"></i></a>
                    <p class="username">Admin<br><a href="#" class="view">View Info</a></p>
                    <a href="#"><i class="fas fa-cog"></i></a>
                </div>

                <div class="menu-contain">
                    <p class="header">Menu</p>
                    <ul>
                        <li><a href="#"><i class="fas fa-users"></i>Members</a></li>
                        <li><a href="#"><i class="fas fa-calendar-week"></i>Classes</a></li>
                        <li><a href="#"><i class="far fa-envelope"></i>Messages</a></li>
                        <li class="active"><a href="#"><i class="fa-solid fa-swatchbook"></i>Sessions</a></li>
                        <li><a href="#"><i class="fa-solid fa-clock"></i>Presence</a></li>
                    </ul>
                </div>
                <div class="menu-contain">
                    <p class="myproject px-3">General</p>
                    <ul>
                        <li><a href="#"><i class="fas fa-cog"></i>Settings</a></li>
                        <li><a href="#"><i class="fa-solid fa-comments"></i>FeedBack</a></li>
                        <li><a href="#"><i class="fa-solid fa-circle-question"></i>Helpdesk</a></li>
                    </ul>
                </div>
                <h1>ShababElMostakbil</h1>
            </div>
            <div class="content">
                <div class="title">
                    <h1>Sessions</h1>

                    <i class="fas fa-cog"></i>

                </div>
                <div class="create">
                    <h1>Create New Session:</h1>
                    <form action="">
                        
                        <div class="options">
                            <label for="classroom">Classroom:</label>
                            <select id="classroom" name="classroom">
                                <option value="arabic">Arabic</option>
                                <option value="english">English</option>
                                <option value="drawin">Drawing</option>
                                <option value="math">Math</option>
                                <option value="sport">Sport</option>
                            </select>
                        </div>
                        <div class="options">
                            <label for="activity">Activity:</label>
                            <select id="activity" name="activity">
                                <option value="arabic">Arabic</option>
                                <option value="english">English</option>
                                <option value="drawin">Drawing</option>
                                <option value="math">Math</option>
                                <option value="sport">Sport</option>
                            </select>
                        </div>

                        <div class="options">
                            <label for="day">Day:</label>
                            <select id="day" name="day">
                                <option value="sunday">Sunday</option>
                                <option value="monday">Monday</option>
                                <option value="tuesday">Tuesday</option>
                                <option value="wednesday">Wednesday</option>
                                <option value="thursday">Thursday</option>
                            </select>
                        </div>
                        <div class="input-date">
                            <label for="start-time">Start Time:</label>
                            <input type="time" id="start-time" name="start-time" min="08:00" max="18:00" />
                        </div>
                        <div class="input-date">
                            <label for="end-time">End Time:</label>
                            <input type="time" id="end-time" name="end-time" min="08:00" max="18:00" />
                        </div>

                        <button class="add-session">Add Session</button>
                    </form>


                </div>
                <div class="persons-list sessions">
                    <div class="details">
                        <p>Total (<span> 10 </span>)</p>

                        <div class="search">
                            <form action="">
                                <input type="text" placeholder="Search ...">
                                <button><i class="fa-solid fa-magnifying-glass"></i></button>

                            </form>
                        </div>


                    </div>
                    <div class="table">
                        <table class="sessions-table">
                            <tr>
                                <th class="id">id</th>
                                <th class="sitter">Sitter</th>
                                <th class="activity">Activity</th>
                                <th class="level">Level</th>
                                <th class="status">Status</th>
                                <th class="day">Day</th>
                                <th class="start">StartAt</th>
                                <th class="end">EndtAt</th>
                            </tr>
                            <tr class="card">
                                <td class="id">1</td>
                                <td class="sitter">Mme Zellat</td>
                                <td class="activity">sport</td>
                                <td class="level">A</td>
                                <td class="status">preparation</td>
                                <td class="day">sunday</td>
                                <td class="start">8:00</td>
                                <td class="end">10:00</td>
                            </tr>
                            <tr class="card">
                                <td class="id">2</td>
                                <td class="sitter">Mr Iddou</td>
                                <td class="activity">english</td>
                                <td class="level">D</td>
                                <td class="status">Started</td>
                                <td class="day">sunday</td>
                                <td class="start">10:00</td>
                                <td class="end">12:00</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </body>

    </html>
